<div class="forms">
    <form action="/" method="POST">
        <div>
            <label for="artist">Artist</label>
            <input type="text" name="artist" id="artist">
        </div>
        <div>
            <label for="albumName">Album Name</label>
            <input type="text" name="albumName" id="albumName">
        </div>
        <div>
            <label for="releaseDate">Release Date</label>
            <input type="date" name="releaseDate" id="releaseDate">
        </div>
        <div>
            <label for="imageLink">Image Link</label>
            <input type="text" name="imgLink" id="imageLink">
        </div>
        {{!-- <div>
            <label for="rating">Rating</label>
            <input type="number" min="1" max="5" name="rating" id="rating">
        </div> --}}
        <input class="btn btn-outline-danger" type="submit" value="Submit">
    </form>
</div>
